*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body{
    font-family: Arial, Helvetica, sans-serif;
   
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}